.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../images/Preloader_5.gif") center no-repeat $c-black;
}

body {
	color: $c-red;
	background: $c-black;
	font-family: $f-body;
	height: 100%;
	display: flex;
  	flex-direction: column;

	main.steveView {
		color: $c-blue;
		flex: 1 0 auto;

			.back {
				padding: 20px;
			}
	}
}

.feature a {
	text-decoration: none;
}

h1 {
	@include headline (45px);
	border-top: 5px $c-red solid;
	padding: 30px 10px 0px;
}

h2 {
	@include subheading (20px);
	padding: 20px 0px 30px;
	border-bottom: 2px $c-red dotted;
}

h3 {
	@include subheading (20px);
	padding-bottom: 20px;
}

p {
	padding: 20px;
	font-size: 20px;
}

span {
	font-weight: 800;
}

header#short {
	background: $c-red;
	color: $c-black;
	padding-top: 20px;
	width: 100%;
}

.feature {
	@include subheading (18px);

		p {
			color: $c-blue;
			padding-bottom: 30px;
		}
}

.fa {
	font-size: 20px;
	padding: 5px;
}

section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

	.day {
		@include dayBox;

		img {
			@include giftImages;
			opacity: 0.5;
		}	

		span {
			display: none;
		}

		h3 {
			padding-top: 20px;
		}

		div.padding {
			display: block;
			height: 70px;
		}

		img:hover {
			cursor: pointer;
			opacity: 1.0;
			-webkit-transform: scale(1.1);
        	-ms-transform: scale(1.1);
        	transform: scale(1.1);
		}

		div:hover span {
			display: block;
		}

		div:hover div.padding {
			display: none;
		}
	}
}

.steve {
	@include steveBox;

	img {
		width: 40%;
		height: 100%;
	}
}


.hide {
	@include hide;
}

/**footer details**/

footer {

	height: 200px;
	position: relative;

	.pattern {
		background-image: url("../images/footerFinal.png");
		height: 80%;
		background-size: cover;
		margin: 10px 0px 0px;
	}

	.clicked {
		display: none;
	}

	div {
		padding-top: 10px;
	}
}

/** JS and hovers **/
footer:hover {
	background-color: $c-red;
	color: $c-black;
	cursor: pointer;
}

div.back {
	color: $c-red;
}

div.back:hover {
	background-color: $c-red;
	cursor: pointer;
	color: $c-black;
}

.snow {
	background-image:
            url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png'), 
            url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png'), 
            url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png');
   width: 100%;
   z-index: 1;
   animation: snow 20s linear infinite;
}

@keyframes snow {
    from {background-position: 0px 0px, 0px 0px, 0px 0px;}
    to {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}


@media screen and (max-width: 420px) { 
	h1 {
		@include headline (30px);
	}

	h2 {
		@include subheading (18px);
	}

	section {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.day {

		div img {
			width: 200px;
			height: 200px;
			margin: 15px;
		}

		h3 {
			padding: 10px;
		}
	}

	.feature p {
		font-size: 16px;
	}

	.back {
		font-size: 16px;
	}

	.steve {
		@include steveBox;
		flex-direction: column;
		align-items: center;


		img {
			width: 80%;
			height: 100%;
			padding-bottom: 20px;
		}
	}

	#bio {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {

	h1 {
		@include headline (30px);
	}

	h2 {
		@include subheading (18px);
	}

	.feature p {
		font-size: 16px;
	}

	.back {
		font-size: 16px;
	}

	section {
		flex-direction: column;

		.day {
			display: flex;
			flex-direction: row;
			width: 100%;	
			
			div {
			display: flex;
			flex-direction: row;
			}	
		}

		h3 {
			padding: 70px;
		}
	}

	.steve {
		@include steveBox;
		flex-direction: column;
		align-items: center;

		img {
			width: 80%;
			height: 100%;
			padding-bottom: 20px;
		}
	}
}

// /*mobile*/
// /*need to fix footer */
// /*confirm images fixed*/








