$c-red: #ff1515;
$c-blue: #3a5fe5;
$c-black: #1e0707;
$c-red-trans: rgba(255,21,21,0.75);
$c-blue-trans: rgba(58,95,229,0.75);

$f-heading: 'Libre Baskerville', serif; 
$f-subheading: 'Poppins', sans-serif;
$f-body: 'Raleway', sans-serif;








